<div style="display: ruby-text">
  <div>
    <img style="width: 100%;" src="assets/images/download3.jpeg" />
  </div>
  <div>
    <img style="width: 100%;" src="assets/images/download3.jpeg" />
  </div>
  <div>
    <h1 style="text-align: center;">Welcome to the Birthday Celebration</h1>
    <p style="text-align: center;">Join us in celebrating this special day!</p>
  </div>
  <div>
    <img style="width: 100%;" src="assets/images/download3.jpeg" />
  </div>
  <div>
    <img style="width: 100%;" src="assets/images/download3.jpeg" />
  </div>
</div>


<img style="width: 100%;" src="assets/images/shannu1.jpeg" />

<router-outlet></router-outlet>